@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed:wght@300&display=swap');

/******************************************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts */
/******************************************************************************/

/* global */
/******************************************************************************/
body {
  @apply bg-blue-200 font-sans
}


*,
::before,
::after {
  background: none;
}

:focus {
  outline: 0 !important;
}
html {
  -webkit-tap-highlight-color: transparent;
}

label,
small,
input,
textarea,
select,
button {
  display: block;
}

button {
  text-align: left;
  text-transform: inherit;
  letter-spacing: inherit;
}

button,
select {
  cursor: pointer;
}


.limit {
  /*@apply */
}
